# Игнорировать все файлы в папке Release
Release/
quake3a132/Release/

# Игнорировать промежуточные файлы и логи
*.pdb
*.ipdb
*.iobj
*.log
*.obj
*.tlog
*.lastbuildstate
*.recipe

# Игнорировать пользовательские настройки
*.vcxproj.user

# Игнорировать предкомпилированные заголовки
*.pch